#book-form {
  flex: 0 0 150px;
  height: 20vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  border: 1px solid black;
}

.bike-profile {
  display: grid;
  grid-template-columns: 400px 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: calc(100vh - 260px);
  // padding: 30px;
  margin: 0px;
}
.bike-profile .main {
  grid-row: 1 / span 2;
  grid-column: 1 / span 3;
}
.bike-profile .booking {
  grid-row: 1 / span 2;
  grid-column: 4 / span 1;
}
.main, .booking {
  background: white;
  // box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: top;
  justify-content: space-around;
}

.main {
  border-right: 2px solid rgba(220,224,244,0.4)
}
