

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('http://res.cloudinary.com/dywzzd0as/image/upload/v1519735526/Bikes.jpg');">
  <div class="banner-content" >
    <h1>Ride my Bike</h1>
    <p>Anywhere you like</p>
    <div style= "align-items: center">
    <form class="form-inline" action="/bikes/search" method="get">
      <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" style="width: 220px;">
      <button class="btn-bike-me" type="submit" value="search">Bike Me</button>
    </form>
    </div>
  </div>
</div>


<!-- <div class="container">
  <h1><strong>Bike Circuits Arround the World</strong></h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card-experience" style="background-image: url('http://res.cloudinary.com/dywzzd0as/image/upload/v1519747481/mickelson8-1.jpg')";>
       <h1>George S. Mickelson Trail</h1>
       <h3>USA</h3>
        <div class="card-description-experience">
         <h5> The circuit of circuits </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-experience" style="background-image: url('http://res.cloudinary.com/dywzzd0as/image/upload/v1519747477/36.jpg')";>
       <h1>Shimanami Kaido Trail</h1>
        <h3>Japan</h3>
        <div class="card-description-experience">
         <h5> The most amazing urban circuit  </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-experience" style="background-image: url('http://res.cloudinary.com/dywzzd0as/image/upload/v1519747487/dsc07303.jpg')";>
       <h1>Serra da Arrabida Trail</h1>
       <h3>Portugal</h3>
        <div class="card-description-experience">
         <h5> Great Temperatures </h5>
        </div>
      </div>
    </div>
  </div>
</div> -->

















