<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('https://cdn.shopify.com/s/files/1/0049/9332/products/linus-bike-roadster-classic-black-profile-2000x1333.jpg?v=1505669139')">
        </div>
      </div>
  </div>
</div>
