<form action="#">
  <div class="form-group">
    <label for="date_field">Start date</label>
    <input type="text" placeholder="dd/mm/yyyy" id="text" class="form-control">
    <label for="date_field">End date</label>
    <input type="text" placeholder="dd/mm/yyyy" id="text" class="form-control">
  </div>
</form>

