<!-- <form action="#"> -->
<!--   "/bikes/1/bookings" -->
<form action="<%= bike_bookings_path(@bike) %>"  method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group">
    <p>Start Date</p>
    <input type="date" placeholder="dd/mm/yyyy" name="begindate" id="begindate" min="2018-02-25">
    <p>End Date</p>
    <input type="date" placeholder="dd/mm/yyyy" name="enddate" id="enddate">
    <p id="demo"></p>

    <script type="text/javascript">
        //////Para que o valor min a inserir seja o dia de hoje
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
         if(dd<10){
                dd='0'+dd
            }
            if(mm<10){
                mm='0'+mm
            }

        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("begindate").setAttribute("min", today);

        //////


        ///Para registar as alterações cada vez que alteramos uma das datas e calc o preço total
        var beginDate, endDate = new Date();
        document.getElementById('begindate').addEventListener("change", (e) => {
          beginDate = document.getElementById('begindate');
            if ((beginDate !== 0) && (endDate !== 0) && (endDate.valueAsDate > beginDate.valueAsDate)) {
            var time = endDate.valueAsDate - beginDate.valueAsDate;
            time = time/24/3600/1000;
            var totalPrice = <%= @bike.price %> * time;
            document.getElementById("demo").innerHTML ='Total Price: '+totalPrice+'&euro;';
          }
        });
        document.getElementById('enddate').addEventListener("change", (e) => {
          endDate = document.getElementById('enddate');
          if ((beginDate !== 0) && (endDate !== 0) && (endDate.valueAsDate > beginDate.valueAsDate)) {
            var time = endDate.valueAsDate - beginDate.valueAsDate;
            time = time/24/3600/1000;
            var totalPrice = <%= @bike.price %> * time;
            document.getElementById("demo").innerHTML ='Total Price: '+totalPrice+'&euro;';
          }
        });
    </script>
  <input type="submit" class= "btn btn-primary" value="Book me">
  </div>
</form>

