
<div class="filters">
  <div class="filters-btn">
    <a href="#" class="btn-treehouse">Dates</a>
    <a href="#" class="btn-treehouse">Type</a>
  </div>
  <div class="btn">
    <%= link_to "Back", root_path, {class: "btn btn-primary"}%>
  </div>
</div>

