<div class="container">
  <h2>Reviews</h2>
  <div class="content-review">
    <div class="row">
      <div class="col-md-12">

        <% @bike.reviews.each do |review| %>
        <h3><%= review.booking.user.first_name %></h3>
        <h4><%= review.comment %></h4>
        <img class="card-user" src="<%= image_path(review.booking.user.photo)%>">
        <div class="review-stars">
          <% review.rating.times do %>
          <i class="fa fa-star" style="color: #ffb400"></i>
          <% end %>
          <% (5 - review.rating).times do %>
          <i class="fa fa-star" style="color: #cacccd"></i>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



