.filters {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background: white;
  border-top: 1px solid #f4f4f4;
}



.filters-btn{
  margin-left: 20px;
  margin-bottom: 5px;
}


.btn-treehouse {
  color: black;
  padding: 7.5px 12.5px;
  border-radius: 4px;
  font-weight: lighter;
  background: white;
  transition: background 0.3s ease;
  font-size: 12px;
  border: 1px solid #f4f4f4;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #f4f4f4;
  text-decoration: none;
  color: white;
  border: 1px solid white;

}




