
.btn.btn-default.btn-form {
  background-color: #DC7E51;
  color:white;
  border: 1px solid #DC7E51;
}

.btn.btn-default.btn-form:hover {
  background: #DC7E51;
  text-decoration: none;
  color: white;
  font-size: 15px;
  border: 1.3px solid #DC7E51;
}
